REACT_APP_WALLET_CONNECT_PROJECT_ID=

REACT_APP_DEFAULT_GAS_PRICE=0.025
# Reference: https://github.com/cosmos/cosmos-sdk/issues/16020
REACT_APP_GAS_ADJUSTMENT=2
REACT_APP_LACONICD_RPC_URL=https://laconicd-mainnet-1.laconic.com

# Example: https://example-url-1.com,https://example-url-2.com
REACT_APP_ALLOWED_URLS=
